body {
/*   background: linear-gradient(90deg, #808080, #F4C357,#FFD700 ,#F4C357, #808080); */
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  opacity: 0.8;
  font-family: "Arial"

}
 p {
  font-size: 1.6em;
}
h1 {
  font-size: 2.2em
}
.label {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #AD927B;
  width: 35em;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

input{
width: 3.6em;
height: 2em;
font-size: 1.6em;
margin: 0 15px 0 auto;
border-radius: 4px
color: black;
}
label {
  font-size: 1.4em;
}
.button_field {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 6px;
  background-color: var(--tg-theme-button-color);
  width: 35em;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
button {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  height: 2.4em;
  font-size: 1.3em;
  color: var(--tg-theme-button-text-color);
  border-radius: 4px;
  }
