* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img3.jpg");
/*   background-size: cover; */
  background: #8C8C8C;
  color: #FFFFFF;
  font-family: "Arial";
  opacity: 0.8;
}

h1 {
  font-size: 2em;
  color: #28281F;
}

.label {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  /* border: solid; */
  border-radius: 12px;
  background-color: #333333;
  width: 40em;
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 15px;
}


input{
width: 4em;
height: 1.5em;
font-size: 1.7em;
margin: 0 15px 0 auto;
border-radius: 12px
}
label {
  font-size: 1.7em;
}
.button_field {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 40em;
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

button {
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 2em;
  font-size: 1.7em;
  border-radius: 12px;
  background-color: #179CDE; 

  }

  button:hover {
    background: #0088CC;
  }
