* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img3.jpg");
  background-size: cover;
  color: #28281F;
  font-family: "Arial";
  opacity: 0.8;
}

h1 {
  font-size: 3em;
  color: #28281F;
}

.label {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  /* border: solid; */
  border-radius: 12px;
  background-color: #E6DDD0;
  width: 80em;
  height: 7em;
  display: flex;
  align-items: center;
  padding-left: 15px;
}


input{
width: 5em;
height: 1.5em;
font-size: 1.7em;
margin: 0 15px 0 auto;
border-radius: 12px
}
label {
  font-size: 1.7em;
}
.button_field {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80em;
  height: 7em;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: white;
}

button {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 2em;
  font-size: 1.7em;
  border-radius: 12px;

  }

  button:hover {
    background: grey;
  }
