body {

/* background-color: #ffd200; */

}
.first {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #DCDCDC;
  width: 40em;
  height: 5em;
  display: flex;
  align-items: center;
  padding-left: 15px;

}

.second {
  margin-left: auto;
  margin-right: 15px;

}

input{
  height: 50px;
  width: 100px;
  font-size: 1.8em;
}
p {
  color: black;
  font-size: 2em;

}
